<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="SPARKOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <logger name="com.objectpartners.spark.rt911.common.components.SparkAnalysisWriter" additivity="false">
        <appender-ref ref="SPARKOUT" />
    </logger>


    <logger name="org.apache" level="OFF"/>
    <logger name="org.apache.spark" level="OFF"/>
    <logger name="org.spark_project" level="OFF"/>
    <logger name="org.springframework" level="OFF"/>
</configuration>